<nav class="navbar">
  <div class="container"><a href="{{ site_url }}/" class="logo">SKILLSHARE</a><button class="toggle">&#9776;</button>
    <ul>
      <li><a href="{{ site_url }}/inscription">Inscription</a></li>
      <li><a href="{{ site_url }}/connexion">Connexion</a></li>
      <li><a href="{{ site_url }}/competences">Compétences</a></li>
    </ul>
  </div>
</nav>
