{% extends "layout.twig" %}

{% block content %}
<section class="not-found-page">
  <h1>404 - Page non trouvée</h1>
  <p>Désolé, la page que vous recherchez n\'existe pas.</p>
  <p><a href="{{ site_url }}/">Retour à l\'accueil</a></p>
</section>
{% endblock %}
